<?xml version="1.0" encoding="utf-8"?>
<toolbox>
    <section id="custom_tools" name="Custom Tools">
        <!-- Simple Tool -->
        <!-- <tool file="/opt/galaxytools/tools/simple_tool/simple_tool.xml"/> -->
        <!-- <tool file="/opt/galaxytools/tools/gwaslab/gwas_sumstats_tool.xml"/> -->
        <!-- Interactive RStudio -->
        <tool file="/home/ofge/Documents/icog/galaxytool/sumstats.xml"/>
        <tool file="/home/ofge/Documents/icog/galaxytool/basic_check.xml"/>
    </section>

</toolbox>


